.card:hover{
    color: white;
    background-color: blue;
    transform: scale(1.15, 1.15);
  box-shadow: 0px 30px 18px 8px rgba(61, 39, 114, 0.192);
  transition: 0.3s all ease-out;
}
.card:hover .list-group-item{
    color: white;
}

footer{
    padding: 5px 120px;
}
.footer-text1{
    font-size: xx-small;
    height: max-content;
}
.footer-text2{
    margin-top: -0.4em;
}